<% render 'books/list', user: @user %>

<span>
    <%=link_to edit_user_path(@user.id),class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cogss"></i>
    <%end%>
</span>

<% @books.each do |book| %>

  <p>タイトル</p>
  <span>
    <%=link_to book.title, book_path(book.id) %>
  </span>
  <h1>New book</h1>

  <%= form_with model: Book.new do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Creat Book' %>
  <% end %>

<% end %>

<h1>Users</h1>

<% @books.each do |book| %>
<%= image_tag @user.get_profile_image(100,100) %>


  <p>name</p>
  <span><%= book.title %></span>

<% end %>